<h1> Product Feed </h1>

<!--<button type="button" class="btn btn-default" ng-click="ProductCtrl.getCategories()">Product Categories</button>-->

<div class="form-group">
    <label for="categoryselect">Category </label>
    <select id="categoryselect" class="form-control" ng-model="ProductCtrl.selectedValue">
            <option value="{{items.categoryId}}" ng-repeat="items in ProductCtrl.categories">{{items.categoryDescription}}</option>
        </select>
</div>
<button type="button" class="btn btn-default btn-lg btn-block" ng-click="ProductCtrl.sortByCategories()"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
Get Products By Category <i class="fa fa-hand-o-left" aria-hidden="true"></i>
</i>
</button>

<!--<pre> {{ ProductCtrl.sorted | json }} </pre>-->
<!---->


<div class="list-group">
    <button type="button" class="list-group-item" ng-repeat="stuff in ProductCtrl.sorted" ng-click="ProductCtrl.getProductDetails(stuff.productId)"><strong>Product Name:</strong> {{stuff.productName}}. 
    
        </button>
</div>

<div ng-show="ProductCtrl.detailsPanel" class="panel panel-primary ng-show">
    <div class="panel-heading">
        <h3 class="panel-title">Name: {{ProductCtrl.detailedProducts.productName}}</h3>
    </div>
    <div class="panel-body"> Asking price: <i class="fa fa-usd" aria-hidden="true"></i> {{ProductCtrl.detailedProducts.price}}
    </div>
    <div class="panel-body"> Condition: {{ProductCtrl.detailedProducts.condition}}</div>
    <div class="panel-body"> Additional info: {{ProductCtrl.detailedProducts.productDescription}}</div>

    <div class="form-group">
        <label for="categoryselect">Seller </label>
        <select id="categoryselect" class="form-control" ng-model="ProductCtrl.selectedEmail">
            <option value="{{email}}" ng-repeat="email in ProductCtrl.emailAddresses">{{email}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="comment">Subject:</label>
        <textarea class="form-control" rows="1" id="comment" ng-model="ProductCtrl.subject"></textarea>
    </div>
    <div class="form-group">
        <label for="comment">Message:</label>
        <textarea class="form-control" rows="5" id="comment" ng-model="ProductCtrl.messageText"></textarea>
    </div>

    <button class="btn btn-warning" type="submit" ng-click="ProductCtrl.submitMessage(ProductCtrl.messageObject)">Contact Seller</button>

</div>
<!--end of product details div-->