<form ng-submit="ProductCtrl.addProduct(product)">

    <div class="form-group">
        <label for="categoryselect">Category </label>
        <select id="categoryselect" class="form-control" ng-model="product.categoryId">
            <option value="{{items.categoryId}}" ng-repeat="items in ProductCtrl.categories">{{items.categoryDescription}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Name of item</label>
        <input type="text" class="form-control" ng-model="product.ProductName">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Condition</label>
        <input type="text" class="form-control" id="exampleInputPassword1" ng-model="product.Condition">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">product description</label>
        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="product.productDescription">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">price</label>
        <input type="number" class="form-control" id="exampleInputPassword1" ng-model="product.price">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

</form>
<!--<button class="btn btn-color" ng-click="ProductCtrl.uploadPhoto()">Upload Picture </button>-->