<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="./src/app/styles/styles.css">-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <script id="metamorph-1-start" type="text/x-placeholder"></script>
        <script id="metamorph-21-start" type="text/x-placeholder"></script>

        <div class="container text-center">
            <form class="form-signin" data-ember-action="2">
                <h2 class="form-signin-heading">Sign in</h2>

                <small class="text-muted">Log in here through Facebook.</small>
                <br><br>

                <p>
                    <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
                </p>

                <script>
                    // This is called with the results from from FB.getLoginStatus().
                    function statusChangeCallback(response) {
                        console.log('statusChangeCallback');
                        console.log(response);
                        if (response.status === 'connected') {
                            // Logged into your app and Facebook.
                            testAPI();
                        } else {
                            // The person is not logged into your app or we are unable to tell.
                            document.getElementById('status').innerHTML = 'Please log ' +
                                'into ListIt App.';
                        }
                    }

                    function checkLoginState() {
                        FB.getLoginStatus(function(response) {
                            statusChangeCallback(response);
                        });
                    }

                    window.fbAsyncInit = function() {
                        FB.init({
                            appId: '257413541331990',
                            cookie: true, // enable cookies to allow the server to access
                            // the session
                            xfbml: true, // parse social plugins on this page
                            version: 'v2.9' // use graph api version 2.8
                        });
                        FB.getLoginStatus(function(response) {
                            statusChangeCallback(response);
                        });

                    };

                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    function testAPI() {
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function(response) {
                            console.log('Successful login for: ' + response.name);
                            document.getElementById('status').innerHTML =
                                'Thanks for logging in, ' + response.name + '!';
                        });
                    }
                </script>

                <!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
   <fb:login-button autologoutlink="true"></fb:login-button>
-->
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" autologoutlink="true">
                </fb:login-button>
                <div id="status">
                </div>

                <small class="text-muted">Or sign in without Facebook</small>
                <br><br>

                <input id="ember360" class="ember-view ember-text-field form-control login-input" ng-model="userObject.email" placeholder="Email Address" type="text">
                <input id="ember361" class="ember-view ember-text-field form-control login-input-pass" ng-model="userObject.password" placeholder="Password" type="password">

                <script id="metamorph-22-start" type="text/x-placeholder"></script>
                <script id="metamorph-22-end" type="text/x-placeholder"></script>

                <button class="btn btn-lg btn-primary btn-block btn-center" type="submit" data-bindattr-3="3" ng-click="HomeCtrl.signIn(userObject)">Sign in</button>
                <br>
                <small class="create-account text-muted">Dont have a facebook account? <button id="ember363" ng-click="HomeCtrl.register(showResults)" class="ember-view btn btn-sm btn-default"> Register </button> </small>
            </form>

            <form class="ng-hide" ng-show="HomeCtrl.showResults" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Username" ng-model="registrationObject.userName">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="Zipcode" placeholder="Zip Code" ng-model="registrationObject.zipCode">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" placeholder="Phone Number" ng-model="registrationObject.phoneNumber">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="Date of Birth" placeholder="Birthdate" ng-model="registrationObject.birthdate" dob-format>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="Password" placeholder="Password" ng-model="registrationObject.password">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="registrationObject.email">
                </div>
                <div class="mbr-buttons mbr-buttons--right">
                    <button type="submit" class="mbr-buttons__btn btn btn-lg btn-primary mbr-editable-button" ng-click="HomeCtrl.submitRegistration(registrationObject)">Submit Registration</button>
                </div>
            </form>

        </div>
        <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
</body>

</html>